<div class="product-in-cart">
  <div
    class="product-in-cart__upper-row"
    [class.mobile-product-in-cart__upper-row]="isMobile"
  >
    <div
      class="product-in-cart__first-line"
      [class.mobile-product-in-cart__first-line]="isMobile"
    >
      <div class="product-in-cart__cart">
        <div
          class="product-in-cart__select-box"
          (click)="isItemChosen = !isItemChosen"
        >
          <img
            *ngIf="isItemChosen"
            src="../../../assets/icons/Yes.svg"
            class="icon"
          />
        </div>
        <div class="product-in-cart__image-wrapper">
          <img
            *ngIf="!!product.attributes.photos"
            [src]="product.attributes.photos[0]"
          />
        </div>
      </div>
      <div class="product-in-cart__description-wrapper">
        <a
          [routerLink]="['/products', product.id]"
          class="product-in-cart__description-wrapper-title"
        >
          {{ product.attributes.name }}
        </a>
        <p>
          {{ product.attributes.subheader }}
        </p>
      </div>
    </div>
    <div
      class="product-in-cart__second-line"
      [class.mobile-product-in-cart__second-line]="isMobile"
    >
      <app-counter
        class="product-in-cart__quantity"
        [class.mobile-product-in-cart__quantity]="isMobile"
        [id]="product.id"
        [count]="productInfo.attributes.count"
        [isWishlist]="isWishlist"
      >
      </app-counter>

      <div
        class="product-in-cart__price"
        [class.mobile-product-in-cart__price]="isMobile"
      >
        {{ product.attributes.prices[0] * productInfo.attributes.count }} ₽
      </div>
    </div>
  </div>
  <div *ngIf="!isWishlist" class="product-in-cart__low-row">
    <div
      class="product-in-cart__button"
      (click)="wishlistService.addProductToWishlist(+product.id, 1)"
    >
      MOVE TO WISHLIST
    </div>
    <div
      class="product-in-cart__button"
      (click)="wishlistService.removProductFromWishlist(+product.id)"
    >
      REMOVE THIS ITEM
    </div>
  </div>
  <div *ngIf="isWishlist && isWishlistOwner" class="product-in-cart__low-row">
    <div
      class="product-in-cart__button"
      (click)="cartService.addProductToCart(+product.id, 1)"
    >
      MOVE TO CARD
    </div>
    <div
      class="product-in-cart__button"
      (click)="cartService.removProductFromCart(+product.id)"
    >
      REMOVE THIS ITEM
    </div>
  </div>
  <div
    *ngIf="!product.attributes.inStock"
    class="product-in-cart__not-in-stock"
  >
    НЕТ В НАЛИЧИИ
  </div>
</div>
