@mixin buttonWithIcon(
  $iconWrapperColor: $color-light-gray,
  $iconBodyColor: $color-dark,
  $textColor: $color-light-gray
) {
  display: flex;
  height: 44px;
  width: 188px;
  cursor: pointer;

  &-icon-wrapper,
  .icon-wrapper {
    display: flex;
    margin-top: auto;
    background-color: $iconWrapperColor;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 12px;
    width: 44px;
  }
  &-body,
  .button-body {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: $iconBodyColor;
    font-size: 0.87rem;
    color: $textColor;

    // &:hover {
    //   background-color: #707070;
    // }
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
