@mixin promoText {
  font-size: 1.177rem;
  font-weight: 400;
}

@mixin textSmall {
  font-size: 0.87rem;
}

h2 {
  font-size: 1.87rem;
  line-height: 1.3;
  font-weight: 500;
}

h3 {
  font-size: 1.33rem;
  line-height: 1.3;
  font-weight: 500;
}

p {
  font-weight: 300;
}
