<div>
  <div>
    Column 1
    <header>
      <div>
        <img src="" />
      </div>
      <div>
        <div>
          Dystopian novel 1984 is a winner with Riae
        </div>
        <div>
          Curvy Riae is a 5’2 model with a large number of colourful tattoos –
          which she shows off in many of her barely-there outfits. In one cheeky
          shot, she leans forward on her hands and knees in front of the washing
          machine She captioned the snap: “Things you can do at home: find the
          lost socks in the washing machine.” The model, who tells fans to be
          “proud of your weirdness” has a massive 3.1 million followers. And
          many were blown away by the saucy shot. One said: “I really hate doing
          that s***... but have to say you make it look fun!” While another
          joked: “And this is the reason why I can't open my phone on public.”
          <a>less...</a>
        </div>
      </div>
    </header>
    <section>
      <header>
        <div>
          ПОЗИЦИЯ
        </div>
        <div>
          КОЛИЧЕСТВО
        </div>
        <div>
          ЦЕНА ЗА ЕД.
        </div>
      </header>
      <ul>
        <li>
          <div>
            <div>
              checkbox
            </div>
            <div>
              image
              <img src="" />
            </div>
            <div>
              <div>
                JUNGHANS
              </div>
              <div>
                Max Bill Chronoscope 40mm Stainless Steel and Leather Watch
              </div>
            </div>
          </div>
          <div>
            2
          </div>
          <div>
            2,750 ₽
          </div>
        </li>
        <li>
          <div>
            <div>
              checkbox
            </div>
            <div>
              image
              <img src="" />
            </div>
            <div>
              <div>
                JUNGHANS
              </div>
              <div>
                Max Bill Chronoscope 40mm Stainless Steel and Leather Watch
              </div>
            </div>
          </div>
          <div>
            2
          </div>
          <div>
            2,750 ₽
          </div>
        </li>
        <li>
          <div>
            <div>
              checkbox
            </div>
            <div>
              image
              <img src="" />
            </div>
            <div>
              <div>
                JUNGHANS
              </div>
              <div>
                Max Bill Chronoscope 40mm Stainless Steel and Leather Watch
              </div>
            </div>
          </div>
          <div>
            2
          </div>
          <div>
            2,750 ₽
          </div>
        </li>
      </ul>
    </section>
  </div>
  <div>
    <section>
      <form>
        <div>
          <div>
            ОПЛАТА
          </div>
          <div>
            Способы оплаты. Должно быть несколько radio
          </div>
        </div>
        <div>
          <span>TOTAL</span>
          <span>
            2,750 ₽
          </span>
        </div>
        <div>
          АДРЕС ДОСТАВКИ
        </div>
        <div>
          Mr. David Olson
          <br />
          4220 Raintree Boulevard
          <br />
          Montezuma
          <br />
          Indiana
          <br />
          47862
          <br />
          USA
        </div>
        <div>
          <input type="submit" value="ОПЛАТИТЬ" />
        </div>
      </form>
    </section>
  </div>
</div>
