<div class="pagination-wrapper">
  <div
    class="pagination-section pagination-section--chevron-left"
    *ngIf="canLeft()"
    (click)="onPrevious()"
  >
    <img src="assets/icons/shevron.svg" />
  </div>

  <div
    class="pagination-section"
    *ngIf="activePage !== first"
    (click)="setPage(first)"
  >
    {{ first }}
  </div>

  <div class="pagination-section pagination-section--dots" *ngIf="leftDots()">
    ...
  </div>

  <div
    class="pagination-section"
    *ngIf="showPrevious()"
    (click)="setPage(activePage - 1)"
  >
    {{ activePage - 1 }}
  </div>

  <div class="pagination-section pagination-section--active-page">
    {{ activePage }}
  </div>

  <div
    class="pagination-section"
    *ngIf="showNext()"
    (click)="setPage(activePage + 1)"
  >
    {{ activePage + 1 }}
  </div>

  <div class="pagination-section pagination-section--dots" *ngIf="rightDots()">
    ...
  </div>

  <div
    class="pagination-section"
    *ngIf="activePage !== total"
    (click)="setPage(total)"
  >
    {{ total }}
  </div>

  <div
    class="pagination-section pagination-section--chevron-right"
    *ngIf="canRight()"
    (click)="onNext()"
  >
    <img src="assets/icons/shevron.svg" />
  </div>
</div>
