@import "../../../assets/scss/main.scss";

.pagination {
  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 84px;
    padding-bottom: 32px;
  }

  &-section {
    height: 37px;
    background-color: #f3f3f3;
    width: 37px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #e8e8e8;
      cursor: pointer;
    }

    &--active-page {
      background-color: #e8e8e8;
    }

    &--chevron-left {
      img {
        transform: rotate(90deg);
      }
    }

    &--chevron-right {
      img {
        transform: rotate(-90deg);
      }
    }
  }
}
