<div class="pagination-wrapper">
  <div class="pagination-section pagination-section--chevron-left">
    <img src="assets/icons/shevron.svg" />
  </div>
  <div class="pagination-section" *ngIf="activePage !== first">
    {{ first }}
  </div>
  <div class="pagination-section" *ngIf="leftDots()">
    ...
  </div>
  <div class="pagination-section pagination-section--active-page">
    {{ activePage }}
  </div>
  <div class="pagination-section" *ngIf="rightDots()">
    ...
  </div>
  <div class="pagination-section" *ngIf="activePage !== total">
    {{ total }}
  </div>
  <div class="pagination-section pagination-section--chevron-right">
    <img src="assets/icons/shevron.svg" />
  </div>
</div>
