.footer {
  background-color: #e8e8e8;
  padding: 40px;
  max-width: 960px;
  &.mobile {
    > div {
      padding: 10px 0;
    }
    .footer-links {
      max-height: unset;
    }
  }

  a,
  span {
    font-size: 13px;
    line-height: 30px;
    color: black;
  }

  a {
    text-decoration: none;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.footer-logo {
  width: 80px;
  img {
    width: 100%;
  }
}

.footer-links {
  max-height: 200px;
}

.footer-link {
  width: 175px;
}
