<footer
  fxLayout="row"
  fxLayoutAlign="space-between flex-start"
  class="footer"
  [class.footer--mobile]="isMobile"
>
  <div class="footer-address">
    <div class="footer-logo">
      <img src="/assets/logo.png" />
    </div>
    <div>
      <div>
        <span>
          CALL US
        </span>
      </div>
      <div>
        <a href="tel:+4401023456789">
          +44 (0)10 2345 6789
        </a>
      </div>
      <div>
        <span>
          EMAIL CUSTOMER CARE
        </span>
      </div>
    </div>
  </div>
  <div>
    <ul
      fxLayout="column wrap"
      fxLayout.xs="column nowrap"
      fxLayoutAlign="flex-start flex-start"
      class="footer-links"
    >
      <li *ngFor="let link of links" class="footer-link">
        <a href="{{ link.link }}" target="_blank">
          {{ link.label }}
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-subscribe">
    <div>
      <span>
        SIGN UP FOR OUR NEWSLETTER
      </span>
    </div>
    <div class="footer-subscribe-form">
      <app-subscribe></app-subscribe>
    </div>
    <!-- <div class="footer-socials">
      <ul fxLayout="row" fxLayoutAlign="space-between flex-start">
        <li *ngFor="let social of socials">
          <a href="{{ social.link }}" target="_blank">
            <img src="{{ social.icon }}" />
          </a>
        </li>
      </ul>
    </div> -->
  </div>
</footer>
