.footer {
  padding: 40px;
  width: 960px;

  &.mobile {
    width: 100%;
    flex-direction: column;
    > div {
      padding: 10px 0;
    }
    .footer-links {
      max-height: unset;
    }
  }

  a,
  span {
    font-size: 13px;
    line-height: 30px;
    color: black;
  }

  a {
    text-decoration: none;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.footer-logo {
  width: 80px;
  img {
    width: 100%;
  }
}

.footer-links {
  max-height: 200px;
}

.footer-link {
  width: 175px;
}

.footer-socials {
  padding-top: 10px;
}
