<div fxLayout="row" fxLayoutAlign="space-between">
  <div>
    <div>
      <div *ngIf="isMobile && !(isOpened && isSearchOpened)">
        <i><img src="assets/burger.svg" /></i>
      </div>
      <div *ngIf="isMobile && (isOpened || isSearchOpened)">
        <i><img src="assets/times.svg" /></i>
      </div>
    </div>
    <div><img src="assets/logo.png" /></div>
  </div>
  <div>
    <div *ngIf="!isMobile">
      <input /><i><img src="assets/zoom.svg" /></i>
    </div>
    <div *ngIf="isMobile">
      <i><img src="assets/zoom.svg" /></i>
    </div>
    <div>
      <i><img src="assets/person.svg" /></i>
    </div>
    <div>
      <i><img src="assets/star.svg" /></i>
    </div>
    <div>
      <i><img src="assets/card.svg" /></i>
    </div>
  </div>
</div>
<div *ngIf="!isMobile">
  desktop categories
  <div>
    desktop subcategories
  </div>
</div>
<div *ngIf="isMobile && isSearchOpened">
  <div>
    <input /><i><img src="assets/zoom.svg" /></i>
  </div>
</div>
<div *ngIf="isMobile && isOpened">
  mobile categories
  <div>
    mobile subcategories
  </div>
</div>
<div *ngIf="isMobile && (isOpened || isSearchOpened)">
  mobile overlay
</div>
