<section class="header-wrapper">
  <header
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="header"
    [class.mobile-header]="isMobile"
  >
    <div fxLayout="row" fxLayoutAlign="flex-start center">
      <div>
        <div
          *ngIf="isMobile && !(isOpened || isSearchOpened)"
          class="icon mobile-burger"
          (click)="onOpenMenu()"
        >
          <i><img src="assets/burger.svg" /></i>
        </div>
        <div
          *ngIf="isMobile && (isOpened || isSearchOpened)"
          class="icon mobile-burger"
          (click)="onClose()"
        >
          <i><img src="assets/times.svg" /></i>
        </div>
      </div>
      <div class="logo">
        <a>
          <img src="assets/logo.png" />
        </a>
      </div>
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      class="header-actions"
      [class.mobile-actions]="isMobile"
    >
      <div *ngIf="!isMobile" class="search-wrapper">
        <div class="icon search-icon">
          <i><img src="assets/zoom.svg" /></i>
        </div>
        <input class="search-input" placeholder="Search" />
      </div>
      <div *ngIf="isMobile" class="icon">
        <i><img src="assets/zoom.svg" /></i>
      </div>
      <div class="icon">
        <a>
          <i><img src="assets/person.svg" /></i>
        </a>
      </div>
      <div class="icon">
        <a>
          <i><img src="assets/star.svg" /></i>
        </a>
      </div>
      <div class="icon">
        <a routerLink="/cart">
          <i><img src="assets/card.svg" /></i>
        </a>
      </div>
    </div>
  </header>
  <nav class="subheader" *ngIf="!isMobile" (mouseleave)="onHoverCategory(null)">
    <ul fxLayout="row" fxLayoutAlign="space-around center" class="menu-items">
      <li
        fxLayout="row"
        fxLayoutAlign="center center"
        class="menu-item"
        [class.active-menu-item]="activeMenuItem === category.id"
        *ngFor="let category of categoriesService.rootCategories"
        (mouseenter)="onHoverCategory(category.id)"
      >
        <a>
          {{ category.title }}
        </a>
      </li>
    </ul>
    <div *ngIf="subcategories.length > 0">
      <ul
        fxLayout="column"
        fxLayoutAlign="flex-start flex-start"
        class="submenu-items"
      >
        <li
          fxLayout="row"
          fxLayoutAlign="flex-start flex-start"
          class="submenu-item"
          *ngFor="let category of subcategories"
        >
          <a>
            {{ category.title }}
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div *ngIf="isMobile && isSearchOpened">
    <div>
      <input /><i><img src="assets/zoom.svg" /></i>
    </div>
  </div>
  <div *ngIf="isMobile && isOpened" class="mobile-menu-wrapper">
    <nav class="mobile-menu">
      <ul
        class="menu-items mobile"
      >
        <li
          *ngFor="let category of categoriesService.rootCategories"
          (click)="onClickSubcategoriesMobile(category.id)"
          class="menu-item mobile"
        >
          <a>
            {{category.title}}
          </a>
          <ul *ngIf="this.openedCategories.includes(category.id)" class="submenu-items mobile">
            <li
              *ngFor="let subcategory of categoriesService.findSubcategories(category.id)"
              class="submenu-item mobile"
            >
              <a>
                {{subcategory.title}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="overlay" *ngIf="isMobile && (isOpened || isSearchOpened)"></div>
</section>