.header-wrapper {
  margin-bottom: 20px;
}
.header {
  height: 100px;
  &.mobile-header {
    padding: 0 10px;
  }
}
.mobile-burger {
  padding-right: 10px;
  box-sizing: content-box;
}
.search-wrapper {
  position: relative;
  .search-input {
    height: 35px;
    width: 180px;
    padding-left: 30px;
  }
  .search-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 10px;
    top: 12.5px;
  }
}
.icon {
  width: 19px;
  height: 19px;
  &:hover {
    cursor: pointer;
  }
  i {
    display: block;
    width: 100%;
    height: 100%;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.header-actions {
  max-width: 350px;
  width: 100%;
  &.mobile-actions {
    max-width: 140px;
  }
}
.subheader {
  color: white;
  position: relative;
}
.menu-items {
  font-size: 13px;
  text-transform: uppercase;
  height: 38px;
  background-color: #2b2b2b;
}
.menu-item {
  height: 100%;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
  &.active-menu-item {
    background-color: #e8e8e8;
    color: #2b2b2b;
  }
}
.submenu-items {
  font-size: 15px;
  max-height: 320px;
  color: #2b2b2b;
  background-color: #e8e8e8;
  padding: 10px 0 10px 20px;
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  flex-flow: row wrap;
}
.submenu-item {
  height: 100%;
  width: 100%;
  padding: 7px 0;
  width: 195px;
  &:hover {
    cursor: pointer;
  }
}
.overlay {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
}
