.header {
  height: 100px;
  &.mobile-header {
    padding: 0 10px;
  }
}
.mobile-burger {
  padding-right: 10px;
  box-sizing: content-box;
}
.search-wrapper {
  position: relative;
  .search-input {
    height: 35px;
    width: 180px;
    padding-left: 30px;
  }
  .search-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 10px;
    top: 12.5px;
  }
}
.icon {
  width: 19px;
  height: 19px;
  &:hover {
    cursor: pointer;
  }
  i {
    display: block;
    width: 100%;
    height: 100%;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.header-actions {
  max-width: 350px;
  width: 100%;
  &.mobile-actions {
    max-width: 140px;
  }
}
