<app-loader
  *ngIf="isLoading && +id === loadingProduct; else elseBlock"
  [loaderSize]="'20px'"
  [loaderBorder]="'4px'"
  class="quantity-loader"
></app-loader>
<ng-template #elseBlock>
  <div
    *ngIf="count > 1 && isWishlistOwner; else fakeMinus"
    class="quantity-decrease"
    (click)="
      isWishlist
        ? wishlistService.removProductFromWishlist(+id)
        : cartService.removProductFromCart(+id)
    "
  >
    <img src="../../assets/icons/Minus.svg" class="icon" />
  </div>
  <ng-template #fakeMinus>
    <div class="icon-fake"></div>
  </ng-template>
  <span *ngIf="inStock" class="quantity-count">
    {{ count }}
  </span>
  <div
    *ngIf="inStock > count && isWishlistOwner; else fakeMinus"
    class="quantity-increase"
  >
    <img
      src="../../assets/icons/Plus.svg"
      class="icon"
      (click)="
        isWishlist
          ? wishlistService.addProductToWishlist(+id, 1)
          : cartService.addProductToCart(+id, 1)
      "
    />
  </div>
</ng-template>
