@import "../../../assets/scss/main.scss";

.wrapper {
}
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.current {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 420px;
  width: 100%;
  background-color: $color-dark;

  img {
    display: block;
    max-height: 100%;
    max-width: 100%;
  }
}
.previews {
  height: 60px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .preview-wrapper {
    display: flex;
    overflow: hidden;
  }

  .preview {
    margin: 0 7.5px;
  }

  .previous {
    margin: 10px;
    transform: scale(-1, 1);
    cursor: pointer;
  }

  .next {
    margin: 10px;
    cursor: pointer;
  }
}
.preview {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  overflow: hidden;
  background-color: $color-dark;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px #ca9b22;
    z-index: 5;
  }
  img {
    display: block;
    width: 100%;
  }
}
