@import "../../../assets/scss/main.scss";
// @ настроить пути

.user-card {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-gray;
  margin-bottom: 5px;

  &__image-wrapper {
    position: relative;
    height: 70px;
    min-width: 70px;
    border-radius: 35px;
    overflow: hidden;
    cursor: pointer;

    margin-right: 9px;

    img {
      display: block;
      max-height: 100%;
      max-width: 100%;
    }

    &:hover {
      .user-card__image-wrapper-icon {
        @include flexCenter;
      }
    }

    &-icon {
      display: none;
      pointer-events: none;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 999;
      background-color: rgba(0, 0, 0, 0.2);

      &-image {
        display: block;
        height: 15px !important;
        width: 15px !important;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    &-header {
      font-weight: 400;
    }

    &-manage {
      font-weight: 500px;
      cursor: pointer;
    }
  }

  &__edit {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-input {
      height: 34px;
      padding: 0 10px;
      font-size: 1rem;
      border: 1px solid $color-gray;
      margin-bottom: 5px;
    }

    &-textarea {
      height: 180px;
      font-size: 1rem;
      font-family: Roboto;
      border: 1px solid $color-gray;
      resize: none;
    }
  }

  .close-sign {
    transform: rotate(45deg);
  }

  .button-with-icon {
    margin: 20px 20px 20px auto;
    @include buttonWithIcon;

    &.mobile-upper-button-with-icon {
      display: none;
    }

    &.mobile-low-button-with-icon {
      width: 100%;
    }
  }
  &__mobile-user-wrapper {
    // border-bottom: 1px solid $color-gray;
    margin: 0 10px 10px 10px;
  }
  &__mobile-user {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;

    &-block {
      display: flex;
    }

    &-image-wrapper {
      height: 25px;
      min-width: 25px;
      border-radius: 12.5px;
      overflow: hidden;

      img {
        display: block;
        max-height: 100%;
        max-width: 100%;
      }
    }

    &-info-header {
      font-weight: 400;
      margin: 10px 0;
    }

    .icon {
      cursor: pointer;
      margin: 0 10px;

      &--rotate {
        margin: 0 10px;
        transform: rotate(180deg);
        cursor: pointer;
      }
    }
  }
  &__mobile-line {
    background-color: $color-gray;
  }
}
