@import "../../../assets/scss/main.scss";
// @ настроить пути

.user-card {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-gray;
  margin-bottom: 5px;

  &__image-wrapper {
    position: relative;
    height: 70px;
    min-width: 70px;
    border-radius: 35px;
    overflow: hidden;
    cursor: pointer;

    margin-right: 9px;

    img {
      display: block;
      max-height: 100%;
      max-width: 100%;
    }

    &:hover {
      .user-card__image-wrapper-icon {
        @include flexCenter;
      }
    }

    &-icon {
      display: none;
      pointer-events: none;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 999;
      background-color: rgba(0, 0, 0, 0.2);

      &-image {
        display: block;
        height: 30px !important;
        width: 30px !important;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    &-header {
      font-weight: 400;
    }

    &-manage {
      font-weight: 500px;
      cursor: pointer;
    }
  }

  &__edit {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-input {
      height: 34px;
      padding: 0 10px;
      font-size: 1rem;
      border: 1px solid $color-gray;
      margin-bottom: 5px;
    }

    &-textarea {
      height: 180px;
      font-size: 1rem;
      font-family: Roboto;
      border: 1px solid $color-gray;
      resize: none;
    }
  }

  .close-sign {
    transform: rotate(45deg);
  }

  .button-with-icon {
    margin: 20px 20px 20px auto;
    @include buttonWithIcon;

    &.mobile-upper-button-with-icon {
      display: none;
    }

    &.mobile-low-button-with-icon {
      width: 100%;
    }
  }
}
