<section class="product-wrapper">
<app-slider></app-slider>
<div class="content">
  <h3>JUNGHANG</h3>
  <p class="short-description">dsfhajskdflasf</p>
  <hr>
  <p>DESCRIPTION</p>
  <p>{{ product.description }}</p>
  <h2>{{ product.priceActual }} ₽</h2>
  <h3 class="price-actual">{{ product.priceOld }} ₽</h3>
  <div class="button-with-icon">
    <div class="icon-wrapper">
      <img src="../../assets/icons/Bag.svg" class="icon"> 
    </div>
    <div class="button-body">В КОРЗИНУ</div>
  </div>
</div>
</section>