@import "../../../assets/scss/main.scss";

.auth__header {
  text-align: center;
}

.forms-wrapper {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 25px 20px;

  &--mobile {
    width: 100%;
  }

  &-selector {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-gray;

    &-item {
      cursor: pointer;

      &--blur {
        color: $color-gray;
        font-size: 1rem;
      }
    }
  }

  &:first-child {
    border-right: 1px solid $color-gray;
  }

  &-header {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-gray;

    &--mobile {
      display: none;
    }
  }

  &-info {
    margin: 20px 10px;
    text-align: center;

    &--mobile {
      margin-top: 0px;
    }
  }

  &-field {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 275px;

    input {
      border: 1px solid $color-gray;
      padding: 9px 11px;
      margin-bottom: 20px;

      &.ng-invalid.ng-touched {
        border: 1px solid $color-wrong;
      }

      &.ng-valid.ng-touched {
        border: 1px solid green;
      }
    }

    &-error {
      position: absolute;
      top: 38px;
      font-size: 0.8rem;
      color: $color-wrong;
    }
  }

  &-reset {
    margin-top: 10px;
  }

  &-button {
    width: 144px;
    height: 44px;
    margin: 20px auto;
    background-color: $color-dark;
    border: none;
    color: $color-light;
    cursor: pointer;

    &--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &-result {
    margin: 20px 0;

    &--success {
      color: green;
    }

    &--error {
      color: $color-wrong;
    }
  }
}

.terms {
  text-align: center;
}
