<section class="product-wrapper">
  <div *ngIf="product; else loadingBlock">
    <div class="product-body" [class.mobile-product-body]="isMobile">
      <h3 class="upper-header" [class.mobile-upper-header]="isMobile">
        {{ product.name }}
      </h3>
      <div class="slider-wrapper" [class.mobile-slider-wrapper]="isMobile">
        <app-slider [photos]="product.photos"></app-slider>
      </div>
      <div class="content" [class.mobile-content]="isMobile">
        <section>
          <h3 class="content__header" [class.mobile-content__header]="isMobile">
            {{ product.name }}
          </h3>
          <p class="content__short-description">{{ product.subHeader }}</p>
          <hr class="product-line" />
          <p class="content__description-header">DESCRIPTION</p>
          <p
            class="content__description-text"
            [class.mobile-content__description-text]="isMobile"
          >
            {{ product.description }}
          </p>
        </section>
        <section>
          <h2 class="price-actual">{{ product.prices[0] }} ₽</h2>
          <h3 *ngIf="product.prices[0] < product.prices[1]" class="price-old">
            {{ product.prices[1] }} ₽
          </h3>
        </section>
        <section class="button-block" [class.mobile-button-block]="isMobile">
          <app-button-with-icon
            (onEventEmit)="handleChange()"
            [buttonProductCount]="cartCount"
            [buttonText]="'В КОРЗИНУ'"
            [isInitState]="cartIsInitState"
            [isLoading]="cartLoader"
          ></app-button-with-icon>
          <app-button-with-icon
            class="button-with-icon-gray"
            (onEventEmit)="addToWishlist()"
            [buttonProductCount]="wishlistCount"
            [buttonText]="'В ВИШ ЛИСТ'"
            [isInitState]="wishlistIsInitState"
            [isLoading]="wishlistLoader"
            [iconBodyColor]="'#cccccc'"
            [textColor]="'#2b2b2b'"
            [buttonIcon]="'../../../assets/icons/Star.svg'"
          ></app-button-with-icon>
        </section>
      </div>
    </div>

    <div class="product__footer" [class.mobile-product__footer]="isMobile">
      <section
        class="product__footer-options"
        [class.mobile-product__footer-options]="isMobile"
      >
        <div class="product__footer-option">
          PRODUCT CODE<br />{{ productCode() }}
        </div>
        <div class="product__footer-option"></div>
      </section>
    </div>
  </div>

  <ng-template #loadingBlock class="prooduct-loading-skeleton">
    <div class="prooduct-loading-skeleton">
      <!-- TO DO develop a skeleton design for loading stage -->
      <app-loader
        [loaderSize]="'200px'"
        [loaderBorder]="'20px'"
        class="quantity-loader"
      ></app-loader>
    </div>
  </ng-template>
</section>
