@import "../../../assets/scss/main.scss";

.product-wrapper {
  .product-body {
    display: flex;

    &.mobile-product-body {
      flex-direction: column;
    }
  }

  .slider-wrapper {
    width: 50%;
    height: 500px;

    &.mobile-slider-wrapper {
      width: 100%;
    }
  }

  .upper-header {
    display: none;

    &.mobile-upper-header {
      display: block;
      margin: 0 20px 20px;
    }
  }

  .content {
    margin-left: 40px;
    width: calc(50% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.mobile-content {
      width: 95%;
      margin: 20px auto;
    }

    .content__header {
      margin-bottom: 8px;

      &.mobile-content__header {
        display: none;
      }
    }

    .content__short-description {
      font-weight: 400;
    }

    .content__description-header {
      margin-bottom: 14px;
    }

    .content__description-text {
      &.mobile-content__description-text {
        margin-bottom: 10px;
      }
    }

    .price-actual {
      margin-bottom: 5px;
    }

    .price-old {
      text-decoration: line-through;
    }
  }

  .product-line {
    margin: 20px 0 14px 0;
  }

  .button-block {
    display: flex;
    margin-bottom: 30px;

    &.mobile-button-block {
      margin: 20px 0 0 0;
    }
  }

  .button-with-icon {
    @include buttonWithIcon;
  }

  .button-with-icon-gray {
    margin-left: 29px;
    @include buttonWithIcon(
      $iconBodyColor: $color-gray,
      $textColor: $color-dark
    );
  }

  .product__footer {
    display: flex;
    justify-content: flex-end;
    height: 70px;
    border-bottom: 1px solid $color-gray;

    &.mobile-product__footer {
      display: none;
    }

    .product__footer-options {
      display: flex;
      justify-content: space-between;
      width: calc(50% - 40px);

      &.mobile-product__footer-options {
        width: 100%;
      }

      .product__footer-option {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        border-top: 1px solid $color-gray;
        border-right: 1px solid $color-gray;

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  .product__not-in-stock {
    @include flexCenter;
    order: 2;
    min-height: 22px;
    margin-left: 29px;
    margin-top: auto;
    padding: 0 7px;
    border: 1.5px solid $color-wrong;
    color: $color-wrong;
    @include textSmall;
  }
}

.short-description {
  @include promoText;
}

.prooduct-loading-skeleton {
  height: 500px;
  width: 100%;
  @include flexCenter;

  .quantity-loader {
    top: -100px;
    left: -100px;
    background-color: $color-wrong;
  }
}

//for blinking skeleton

// .blink {
//   animation-name: blinker;
//   animation-iteration-count: infinite;
//   animation-timing-function: cubic-bezier(1.0,2.0,0,1.0);
//   animation-duration: 3s;
//   -webkit-animation-name: blinker;
//   -webkit-animation-iteration-count: infinite;
//   -webkit-animation-timing-function: cubic-bezier(1.0,2.0,0,1.0);
//   -webkit-animation-duration: 3s;
// }

// @keyframes blinker {
//   from { opacity: 1.0; }
//   to { opacity: 0.5; }
// }

// @-webkit-keyframes blinker {
//   from { opacity: 0.5; }
//   to { opacity: 1.0; }
// }
