<div class="product-list-component">
  <div class="product-list-component__categories-wrapper"></div>
  <div class="product-list-component__products-section">
    <div class="product-list-component__products-wrapper">
      <div
        *ngFor="let product of productsListService.products.getValue()"
        class="product-list-component__products"
      >
        <app-product-in-listing [product]="product"></app-product-in-listing>
      </div>
    </div>
    <div>
      <app-paginator
        [total]="total()"
        [perPage]="perPage()"
        [activePage]="activePage"
        [type]="type"
      ></app-paginator>
    </div>
  </div>
</div>
