@import "src/assets/scss/main";

.page-title {
  text-align: left;
  padding-bottom: 21px;
  font-weight: 500;
}

.order__wrapper {
  min-height: 100px;
  width: 100%;
  background-color: #e8e8e8;
  margin-bottom: 60px;
}
