@import "../../../assets/scss/main.scss";

.wishlist-client {
  display: flex;
  margin-top: 26px;
  margin-bottom: 25px;

  &__user-block {
    width: 65%;
    padding-right: 10px;

    &--mobile {
      width: 100%;
    }
  }

  &__payment-wrapper {
    width: 35%;
    padding: 20px;
    background-color: $color-dark;

    &--mobile {
      display: none;
    }
  }

  &__title-row {
    display: flex;
    border-bottom: 1px solid $color-gray;
    padding-bottom: 5px;

    &.mobile-cart__title-row {
      display: none;
    }
  }

  &__title-row-cart {
    width: 20%;
    text-align: center;
  }

  &__title-row-description {
    width: 38%;
    text-align: center;
  }

  &__title-row-quntity {
    width: 24%;
    text-align: center;
  }

  &__title-row-price {
    width: 18%;
    text-align: right;
    padding-right: 20px;
  }

  &__footer {
    display: none;

    &--mobile {
      display: block;
      position: fixed;
      width: 100%;
      bottom: 0;
    }

    &__button-wrapper {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }

    .payment-price-adress--owner {
      h3,
      p {
        color: $color-dark !important;
      }
    }

    &__total-price {
      display: flex;
      justify-content: flex-end;

      &-wrapper {
        display: flex;
        justify-content: space-around;
      }

      &.mobile-cart__total-price {
        width: 100%;
        background-color: $color-light;
        justify-content: flex-start;
        padding-left: 40px;
        box-shadow: 0px -1px 10px -6px rgba($color-dark, 0.5),
          -20px -1px 10px -6px rgba($color-dark, 0.5),
          20px -1px 10px -6px rgba($color-dark, 0.5);

        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 60px;
        width: 320px;
        height: 51px;

        &.cart__total-price-inner {
          width: 400px;
        }

        &-second {
          display: flex;
          align-items: center;
          padding-right: 0;
          justify-content: space-around;

          h3,
          .icon {
            margin: 0 10px;
          }

          .icon {
            cursor: pointer;

            &--rotate {
              margin: 0 10px;
              transform: rotate(180deg);
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  &__button-wrapper {
    &.mobile-cart__button-wrapper {
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 0;
    }
  }
}

.button-with-icon {
  @include buttonWithIcon;

  &--opened {
    @include buttonWithIcon;
    height: 100%;
    &.mobile-upper-button-with-icon {
      display: none;
    }

    &.mobile-low-button-with-icon {
      width: 100%;
    }

    &.mobile-low-icon-wrapper {
      width: 100%;
      margin-top: auto !important;
    }
  }

  &.mobile-upper-button-with-icon {
    display: none;
  }

  &.mobile-low-button-with-icon {
    width: 100%;
  }

  &.mobile-low-icon-wrapper {
    width: 100%;
    margin-top: auto;
  }
}

.select-box {
  @include flexCenter;
  width: 20px;
  height: 20px;
  border: 1px solid $color-dark;
  background-color: $color-light;
  margin-left: 10px;

  .icon {
    width: 15px;
  }
}

.payment {
  position: relative;
  height: 100%;
  text-align: right;
  min-height: 500px;

  &-header {
    text-align: left;
  }

  &-adress-checkbox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 19px;
  }

  &-header,
  &-adress-header {
    margin-bottom: 20px;
    color: $color-light;
    font-weight: 300;
  }

  &-adress {
    &-header {
      margin-top: 35px;
    }

    &-span {
      color: $color-light;
    }
  }

  &-upper-block {
    margin-bottom: 33px;
  }

  &-type {
    display: flex;
    align-items: center;
    color: $color-light;
    margin-bottom: 20px;
  }

  &-tolal-price {
    color: $color-light;
    text-align: right;
  }

  &-icon {
    width: 20px;
    margin: 0 10px;
  }

  &-checkbox {
    @include flexCenter;
    background-color: $color-light;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;

    &-select {
      background-color: $color-dark;
      width: 10px;
      height: 10px;
      border-radius: 5px;
    }
  }

  &-price-adress {
    margin-top: 35px;

    &--owner {
      margin-top: 0;
      text-align: right;
      margin-right: 20px;
    }
  }

  .button {
    &-adress {
      @include flexCenter;
      margin-left: auto;
      height: 44px;
      width: 164px;
      background-color: $color-gray;
      margin: 30px 0 0 auto;
      cursor: pointer;
    }

    &-payment,
    &-publish {
      position: absolute;
      right: 0;
      bottom: 0;
      @include flexCenter;
      height: 44px;
      width: 144px;
      background-color: $color-gray;
      margin: 30px 0 0 auto;
      cursor: pointer;
    }
  }
}
