@import "../../../assets/scss/main.scss";

.wishlist-client {
  display: flex;
  margin-top: 26px;
  margin-bottom: 25px;

  &__user-block {
    width: 65%;
    padding-right: 10px;
  }

  &__payment-wrapper {
    width: 35%;
    background-color: $color-dark;
  }

  &__title-row {
    display: flex;
    width: 100%;
    font-weight: 500;
    padding: 14px 0;
    border-bottom: 1px solid $color-gray;

    &-cart {
      width: 50%;
      padding-left: 30px;
    }

    &-quntity {
      width: 20%;
      text-align: center;
    }

    &-price {
      width: 30%;
      text-align: center;
    }
  }
}

.payment {
  &-header {
    color: $color-light;
  }

  &-type {
    display: flex;
    color: $color-light;
  }

  &-tolal-price {
    color: $color-light;
  }
}
