<section>
  <h3 class="cart__header" [class.mobile-cart__header]="isMobile">SHOPPING</h3>
  <div class="cart__products-list">
    <div *ngIf="!cart[0]; else elseBlock">КОРЗИНА ПУСТА</div>
    <ng-template #elseBlock>
      <div class="cart__button-wrapper">
        <div
          class="button-with-icon"
          [class.mobile-upper-button-with-icon]="isMobile"
        >
          <div class="icon-wrapper">
            <img src="../../../assets/icons/BuyNow.svg" class="icon" />
          </div>
          <div class="button-body">BUY NOW</div>
        </div>
      </div>
      <div class="cart__title-row" [class.mobile-cart__title-row]="isMobile">
        <div class="cart__title-row-cart">CART</div>
        <div class="cart__title-row-description">DESCRIPTION</div>
        <div class="cart__title-row-quntity">QUANTITY</div>
        <div class="cart__title-row-price">UNIT PRICE</div>
      </div>
      <div *ngFor="let product of sortCart">
        <app-product-in-cart [product]="product"></app-product-in-cart>
      </div>
      <div class="cart__total-price" [class.mobile-cart__total-price]="isMobile">
        <div class="cart__total-price-inner" [class.mobile-cart__total-price-inner]="isMobile">
          TOTAL <h3>₽ {{ cartService.getTotalPrice }}</h3>
        </div>
      </div>
      <div class="cart__button-wrapper" [class.mobile-cart__button-wrapper]="isMobile">
        <div
          class="button-with-icon"
          [class.mobile-low-button-with-icon]="isMobile"
        >
          <div class="icon-wrapper" [class.mobile-low-icon-wrapper]="isMobile">
            <img src="../../../assets/icons/BuyNow.svg" class="icon" />
          </div>
          <div class="button-body">BUY NOW</div>
        </div>
      </div>
    </ng-template>
  </div>
</section>
