<section>
  <app-page-title>SHOPING</app-page-title>
  <div class="cart__products-list">
    <div *ngIf="cart.attributes.cardProducts.data.length === 0; else elseBlock">
      КОРЗИНА ПУСТА
    </div>
    <ng-template #elseBlock>
      <div class="cart__button-wrapper">
        <a routerLink="/auth">
          <div
            class="button-with-icon"
            [class.mobile-upper-button-with-icon]="isMobile"
          >
            <div class="icon-wrapper">
              <img src="../../../assets/icons/BuyNow.svg" class="icon" />
            </div>
            <div class="button-body">BUY NOW</div>
          </div>
        </a>
      </div>
      <div class="cart__title-row" [class.mobile-cart__title-row]="isMobile">
        <div class="cart__title-row-cart">CART</div>
        <div class="cart__title-row-description">DESCRIPTION</div>
        <div class="cart__title-row-quntity">QUANTITY</div>
        <div class="cart__title-row-price">UNIT PRICE</div>
      </div>
      <div *ngFor="let product of cart.attributes.products.data">
        <app-product-in-cart
          [product]="product"
          [productsArray]="cart.attributes.cardProducts.data"
        ></app-product-in-cart>
      </div>
      <div
        class="cart__total-price"
        [class.mobile-cart__total-price]="isMobile"
      >
        <div
          class="cart__total-price-inner"
          [class.mobile-cart__total-price-inner]="isMobile"
        >
          TOTAL
          <h3>₽ {{ cart.attributes.totalPrice }}</h3>
        </div>
      </div>
      <div
        class="cart__button-wrapper"
        [class.mobile-cart__button-wrapper]="isMobile"
      >
        <a routerLink="/shipping">
          <div
            class="button-with-icon"
            [class.mobile-low-button-with-icon]="isMobile"
          >
            <div
              class="icon-wrapper"
              [class.mobile-low-icon-wrapper]="isMobile"
            >
              <img src="../../../assets/icons/BuyNow.svg" class="icon" />
            </div>
            <div class="button-body">BUY NOW</div>
          </div>
        </a>
      </div>
    </ng-template>
  </div>
</section>
