@import '../../assets/scss/main.scss';

.wrapper {
  width: 100%;
  height: 100%;
}
.slider {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.current {
  width: 500px;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: $color-dark;
  img {
    display: block;
    width: 100%;
  }
}
.previews {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .previous {
    transform: scale(-1, 1);
    cursor: pointer;
  }

  .next {
    cursor: pointer;
  }
}
.preview {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px #CA9B22;
    z-index: 5;
  }
  img {
    display: block;
    width: 100%;
  }
}
